//Color
$body-color:#f9fbfb;
$color-primary: #0BACDB;
$color-secondary:#21455E;
$primary-lighter:#A3BAC6;
$success-color:#0AD688;
$price-color:#B12604;
$color-incomplete:#F3923C;

//Layout
$container-width:120rem;
$header-container-width: 90%;