.block_2{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#app .incomplete{
  background: $color-incomplete;
  color:#fff;
  border-color: $color-incomplete;
}
.container{
  max-width:$container-width;
  width:90%;
  margin: 0 auto;
}

.header-container{
  max-width:$header-container-width;
  width:90%;
  margin: 0 auto;
}